{% extends 'base.html.twig' %}

{% block title %}Teacher page!{% endblock %}

{% block main %}
    <div class="container body-content span=4 offset=2">
        <div class="well"  id="add" >
            <label for="add" class="required" >Добавяне на учител</label>
            {{ form_start(form) }}
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_row(form.fullName, {
                            label: 'Име на учител'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('teacher') }}">Изход</a>
                        <button type="submit" class="btn btn-primary">Запис</button>
                    </div>
                </div>

            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <div class="well"  id="addOnBtn">
            <button type="submit" class="btn btn-info center-block">Добавяне на учител</button>
        </div>
        <div class="table-responsive">
            <table id="dataTable"  class="display" cellspacing="0" width="100%">

                <thead>
                <tr>
                    <th class="th-sm">Учител</th>
                    <th class="th-sm">Обвързан с брой ученици</th>
                    <th class="th-sm">Редактиране</th>
                    <th class="th-sm">Изтриване</th>
                </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr id="{{ teacher.id }}">
                        <td>{{ teacher.fullName }}</td>
                        <td>{{ teacher.students.count }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="th-sm">Учител</th>
                    <th class="th-sm">Обвързан</th>
                    <th class="th-sm">Редактиране</th>
                    <th class="th-sm">Изтриване</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}

{% block jsCustomPage %}
    <script type="module" src="{{ asset('/js/custom-page/page-teacher.js') }}"></script>
{% endblock %}