{% extends 'base.html.twig' %}

{% block title %}Create product!{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well" id="addProduct">
            {{ form_start(form) }}
                <fieldset>
                    <legend>Създаване на задължение</legend>

                    <div class="form-group">
                        <div class="col-sm-4">
                            {{ form_row(form.forMonth, {
                                label: 'Такса за месец'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ form_row(form.feeInDays, {
                                label: 'Дължима такса в дни'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ form_row(form.price, {
                                label: 'Дължима такса в лева'
                            }) }}
                        </div>
                    </div>

                    <div class="form-group" id="class">
                        <div class="col-sm-2">
                            <label class="col-sm-2 control-label" for="class_id">Клас</label>
                            <select class="form-control" id="class_id" name="class[id]">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" id="student">
                        <div class="col-sm-4 mt-5">
                            <label class="col-sm-4 control-label" for="student_id">Ученик</label>
                            <select class="form-control" id="student_id" name="student[id]">
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('app_product_index') }}">Изход</a>
                            <button type="submit" class="btn btn-primary">Запис</button>
                        </div>
                    </div>

                </fieldset>
            {{ form_end(form) }}
        </div>
    </div>


    <div class="container body-content span=8 offset=2">
        <div class="table-responsive">
            <table id="dataTable"  class="display" cellspacing="0" width="100%">
                <div class="well"  id="addOnBtn">
                    <button type="submit" class="btn btn-info center-block">Добавяне на задължение</button>
                </div>
            </table>
        </div>
    </div>

{% endblock %}

{% block jsCustomPage %}
    <script type="module" src="{{ asset('js/custom-page/page-product-ajax.js') }}"></script>
{% endblock %}