{% extends 'base.html.twig' %}

{% block title %}Create student!{% endblock %}

{% block main %}

    <div class="container body-content span=4 offset=2">
        <div class="well"  id="add" >
            <label for="add" class="required" >Добавяне на клас</label>
            {{ form_start(form) }}
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-4">
                        {{ form_row(form.name, {
                            label: 'Име на класа'
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('class') }}">Изход</a>
                        <button type="submit" class="btn btn-primary">Запис</button>
                    </div>
                </div>

            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container body-content span=8 offset=2">
        <table id="dataTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

            <div class="well"  id="addOnBtn" hidden>
                <button type="submit" class="btn btn-info center-block">Добавяне на клас</button>
            </div>

            <thead>
            <tr>
                <th class="th-sm">Клас</th>
                <th class="th-sm">Обвързан с брой ученици</th>
                <th class="th-sm">Редактиране</th>
                <th class="th-sm">Изтриване</th>
            </tr>
            </thead>
            <tbody>
            {% for classTable in classTables %}
                <tr id="{{ classTable.id }}">
                    <td>{{ classTable.name }}</td>
                    <td>{{ classTable.students.count }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th class="th-sm">Клас</th>
                <th class="th-sm">Обвързан</th>
                <th class="th-sm">Редактиране</th>
                <th class="th-sm">Изтриване</th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block jsCustomPage %}
    <script  type="module" src="{{ asset('/js/custom-page/page-class_table.js') }}"></script>
{% endblock %}
